html{
    background-color: #919c7a;
}


.title{
color: black;    
text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  font-style: normal;
   font-family: "Fugaz One", sans-serif;
  font-weight: 400px;
  font-style: normal;
  text-decoration: none;
  
} 
a:visited{
    color: black;
}

.title:hover{
    text-decoration: underline;
}