html{
    background-color: #919c7a;
}


.title{
   font-size: 80px;
   font-family:"Fugaz One", sans-serif ;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;      
    margin-bottom: 20px;
}

.title a {
    color: black;
    text-decoration: none;
}

.title:hover{
    text-decoration: underline;
}

.page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notebook-container{
    position: relative;
    width: 1500px;
    margin: 0 auto;
}


.notebook{
    width: 100%;
    display: block;
}

.flower{
    position: absolute;
    width: 250px;
    transition: transform 0.3s ease;
}

.flower:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.violet {
    top: 380px;
    left: 250px;
    width: 220px;
}

.bleedinglove {
    top: 50px;
    left: 80px;
    width: 270px;
}

.foxglove {
    top: 300px;
    left: 810px;
    width: 270px;
}

.ivy{
    top: 30px;
    left: 980px;
    width: 240px;
}

.nightshade{
    top: 300px;
    left: 1120px;
    width: 270px;
}

.solomons-seal{
    top: 30px;
    left: 400px;
    width: 270px;
}

.about{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.works-cited{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 150px;
    text-decoration: none;
    font-size: 40px;
}

.site-footer{
    margin: 50px;
    text-align: center;
}

.nav a:hover{
    text-decoration: underline;
}