html{
    background-color: #919c7a;
}


.title{
    text-align: center;
    font-size: 100px;
   font-family: "Fugaz One", sans-serif;
    margin: 0;
}
.title a {
    color: black;
    text-decoration: none;
}

.title:hover{
    text-decoration: underline;
}

.page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notebook-container{
    position: relative;
    width: 1500px;
    margin: 0 auto;
}


.notebook{
    width: 100%;
    display: block;
}

.flower{
    position: absolute;
    width: 250px;
}

.violet {
    top: 300px;
    left: 150px;
    width: 200px;
}

.bleedinglove {
    top: 50px;
    left: 80px;
    width: 300px;
}

.foxglove {
    top: 250px;
    left: 400px;
    width: 250px;
}
