html{
    background-color: #919c7a;
}


.title{
   font-size: 80px;
   font-family:"Fugaz One", sans-serif ;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;      
    margin-bottom: 20px;
}

.title a {
    color: black;
    text-decoration: none;
}

.title:hover{
    text-decoration: underline;
}

.about{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.works-cited{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 150px;
    text-decoration: none;
    font-size: 40px;
}

.site-footer{
    margin: 50px;
    text-align: center;
}

.nav a:hover{
    text-decoration: underline;
}