html {
    background-color: #919c7a;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.title {
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 700;
    white-space: nowrap;
    color: black;
}

.title a:hover {
    text-decoration: underline;
}

.about{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.works-cited{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 150px;
    text-decoration: none;
    font-size: 40px;
}

.site-footer{
    margin: 50px;
    text-align: center;
}

.nav a:hover{
    text-decoration: underline;
}

.card {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.flower-card{
    width: 100%;
    display: block;
}

.card-text {
    position: absolute;
    top: 50%;     
    left: 62%;     
    transform: translate(-50%, -50%);
    width: 40%;    
    text-align: left;
}

.flower-title{
 font-size: 60px;
 font-family: sans-serif
}

.flower-name{
font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flower-notes{
  font-family: "Shadows Into Light", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
}





